---
layout: default
---

<div class="home">
  <h2>Hi!</h2>
  <p>My name is Alejandro Fernández. I'm a full-stack developer based in Amsterdam. <a href="mailto:{{ site.email }}">Let's talk.</a></p>

  <h2>Skills <small>(In no particular order)</small></h2>
  <ul class="skills">
    <li>Semantic HTML5 / CSS3</li>
    <li>Responsive CSS</li>
    <li>SASS/SCSS</li>
    <li>Javascript</li>
    <li>ES2015</li>
    <li>jQuery</li>
    <li>EmberJS</li>
    <li>Photography</li>
    <li>Legacy browsers &amp; Legacy code</li>
    <li>Basic SEO optimization</li>
    <li>Ruby on Rails</li>
    <li>Git</li>
    <li>Basic Bash programming</li>
    <li>Basic Perl programming</li>
    <li>Mac OS</li>
    <li>Photoshop</li>
    <li>Fireworks</li>
  </ul>

  <h2>Timeline</h2>

  <div class="timeline">

    {% for event in site.data.timeline %}
      <div class="timeline-event" data-type="{{ event.type }}">
        <span class="timeline-date">{{ event.date }}</span>
        <div class="timeline-body">
          <h3>{{ event.title }}</h3>
          {{ event.body }}
          {% if event.skills %}
            <ul class="skills no-stretch">
              {% for skill in event.skills %}
                <li>{{ skill }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>


</div>
